/* 
Breakpoints:
1200px, 992px, 767px, 640px, 400px
75em,    62em,  48em,  40em, 25em
*/

@media only screen and (max-width: 75em) {
}

@media only screen and (max-width: 68.75em) {
    /* ================================ */
    /* HEADER */
    /* ================================ */
    .hero-buttons a {
        margin-left: 1rem;
    }
}

@media only screen and (max-width: 62em) {
    /* ================================ */
    /* NAV */
    /* ================================ */
    .nav-menu__wrapper {
        justify-content: space-evenly;
    }
    .img-logo {
        margin-left: 0;
    }

    /* ================================ */
    /* HEADER */
    /* ================================ */
    .hero-buttons a {
        margin-left: 0;
    }

    /* ================================== */
    /* SECTION ABOUT */
    /* ================================== */

    .about-img {
        display: block;
    }
    .about-img img {
        height: 40rem;
        margin-top: 10rem;
    }
    .about-text {
        width: 90%;
        margin-top: 5rem;
    }
    .about-text p {
        padding: 1rem 0;
        font-size: 1.5rem;
        line-height: 2rem;
    }

    /* ================================== */
    /* SECTION MENU */
    /* ================================== */
    .pizza-title {
        width: 40%;
    }
    .pizza-content {
        width: 50%;
    }

    /* ================================== */
    /* SECTION DRINKS */
    /* ================================== */
    .drink-title {
        align-self: center;
    }
    .drink-menu__item {
        padding: 1.5rem 0;
    }
    .drink-menu__item h4 {
        font-size: 3rem;
    }
    .drink-menu__item span {
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 48em) {
    /* ================================ */
    /* NAV */
    /* ================================ */
    .nav-menu__wrapper {
        display: none;
    }
    .hamburger {
        display: flex;
        flex-direction: column;
    }
    .bar {
        display: block;
    }

    /* ================================ */
    /* HEADER */
    /* ================================ */
    .hero-buttons a {
        margin: 0.4rem auto;
    }

    /* ================================== */
    /* SECTION ABOUT */
    /* ================================== */
    .about-img {
        display: none;
    }
    .about-content {
        width: 100%;
    }

    /* ================================== */
    /* SECTION MENU */
    /* ================================== */
    .section-pizza {
        padding: 4rem 0;
    }

    .pizza-container {
        flex-direction: column;
    }
    .pizza-img {
        display: none;
    }
    .pizza-title,
    .drink-title {
        width: 100%;
        padding: 2rem 0;
    }
    .pizza-title h4,
    .drink-title h4 {
        font-size: 5rem;
        font-weight: 400;
        border: transparent;
        background-color: transparent;
        position: relative;
    }
    .pizza-title h4:after,
    .drink-title h4:after {
        content: '';
        position: absolute;
        top: 6.5rem;
        bottom: 0;
        left: 28%;
        right: 0;
        height: 0.2rem;
        border-top: 3px solid var(--red);
        width: 43%;
    }
    .pizza-menu__item {
        padding: 2rem 0;
    }
    .pizza-menu__item h4 {
        font-size: 3rem;
    }
    .pizza-btn,
    .drink-btn {
        margin-top: 4rem;
        width: 60%;
        text-align: center;
    }

    /* ================================== */
    /* SECTION DRINKS */
    /* ================================== */
    .drink-container {
        flex-direction: column;
    }
    .drink-img {
        display: none;
    }
    .drink-title h4 {
        font-size: 4rem;
    }
    .drink-title h4:after {
        content: '';
        position: absolute;
        top: 6rem;
        bottom: 0;
        left: 28%;
        right: 0;
        height: 0.2rem;
        border-top: 3px solid var(--red);
        width: 43%;
    }
    .drink-content {
        width: 70%;
        margin: 0 auto;
    }
    .drink-menu__item {
        padding: 3rem 0;
    }

    /* ================================== */
    /* SECTION RESERVATIONS */
    /* ================================== */
    .reserv-form {
        width: 70%;
    }
}

@media only screen and (max-width: 40em) {
    /* ================================== */
    /* SECTION ABOUT */
    /* ================================== */
    .about-content h3 {
        font-size: 3.5rem;
    }

    h3:after {
        left: 17%;
        width: 68%;
    }

    /* ================================== */
    /* SECTION MENU */
    /* ================================== */
    .pizza-content {
        width: 70%;
        margin: 0 auto;
    }

    /* ================================== */
    /* SECTION DRINKS */
    /* ================================== */
    .drink-title h4 {
        font-size: 3.6rem;
    }
}

@media only screen and (max-width: 33.75em) {
    /* ================================== */
    /* SECTION RESERVATIONS */
    /* ================================== */
    .reserv-form {
        width: 90%;
    }
}

@media only screen and (max-width: 31.25em) {
    /* ================================== */
    /* SECTION MENU */
    /* ================================== */
    .pizza-title h4 {
        font-size: 4rem;
    }

    /* ================================== */
    /* SECTION DRINKS */
    /* ================================== */
    .drink-title h4 {
        font-size: 3.2rem;
    }
    .drink-menu__item h4 {
        font-size: 3rem;
    }
    .drink-title h4::after {
        top: 8rem;
    }
}

@media only screen and (max-width: 25em) {
    /* ================================== */
    /* SECTION RESERVATIONS */
    /* ================================== */

    .reserv-heading {
        font-size: 3.2rem;
    }
    .reserv-heading:after {
        top: 4.5rem;
    }
    .reserv-form {
        width: 95%;
    }
}
