*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* VARIABLES & RESET */
/* ======================================================== */
/* ======================================================== */
/* ======================================================== */
:root {
    --main-color: #353b48;
    --second-color: #1f2533;
    --second-color-darker: 31, 37, 51;
    --third-color: #1f2533;
    --fourth-color: #6c7383;
    --white: rgba(255, 255, 255, 0.85);
    --red: #d63031;
    --red-darker: 214, 48, 49;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: var(--white);
    background-color: rgba(0, 0, 0, 0.6);
    overflow-x: hidden;
}

h1 {
    font-family: 'Parisienne', cursive;
    font-size: 9rem;
    color: var(--white);
    font-weight: 200;
}

h2 {
    font-family: 'Yellowtail', sans-serif;
    color: var(--white);
    font-size: 4.6rem;
    text-align: center;
    font-weight: 100;
}

h3 {
    font-size: 4.2rem;
    text-align: center;
    font-weight: 100;
    position: relative;
}

h3:after {
    content: '';
    position: absolute;
    top: 5.5rem;
    bottom: 0;
    left: 28%;
    right: 0;
    height: 0.2rem;
    border-top: 3px solid var(--red);
    width: 43%;
}

ul {
    list-style: none;
}

.heading {
    font-size: 7rem;
    background: rgba(0, 0, 0, 0.7);
    z-index: 3;
    border: 2px solid var(--white);
    text-align: center;
    font-weight: 300;
}

/* Buttons */
/* ======================================================== */
/* ======================================================== */
/* ======================================================== */

.btn:link,
.btn:visited {
    text-decoration: none;
    font-size: 1.6rem;
    padding: 0.5rem 2rem;
    border: 1px solid var(--white);
    color: var(--white);
    border-radius: 4px;
    display: inline-block;
    transition: all 0.4s ease;
}

.btn:hover,
.btn:active {
    border-color: var(--red);
}

/* Nav */
/* ======================================================== */
/* ======================================================== */
/* ======================================================== */

.nav-menu {
    position: fixed;
    top: 0;
    background-color: rgba(var(--second-color-darker), 0.85);
    height: 4rem;
    width: 100%;
    z-index: 10;
}

.nav-menu__wrapper {
    display: flex;
    justify-content: space-around;
    list-style: none;
    align-items: center;
}

.img-logo {
    height: 2rem;
    margin-top: 1rem;
    margin-left: -8rem;
}

.nav-menu div {
    display: flex;
}

.nav-menu div li {
    padding: 0 1rem;
}

.wrappper--section__link a:link,
.wrappper--section__link a:visited,
.wrapper--social__link a:link,
.wrapper--social__link a:visited {
    color: var(--white);
    font-size: 1.4rem;
    text-decoration: none;
    text-align: center;
    border-bottom: transparent;
    transition: all 0.3s ease-out;
    padding: 0 0 0.23rem 0;
}

.wrappper--section__link a:hover,
.wrappper--section__link a:active {
    border-bottom: 1px solid rgba(var(--red-darker), 0.8);
}

.wrapper--social {
    padding-top: 1rem;
}

/* HAMBURGER */
.hamburger {
    display: none;
    cursor: pointer;
    margin-top: 0.5rem;
}

.bar {
    display: none;
    width: 3rem;
    height: 2px;
    margin: 3px auto;
    transition: all 0.3s ease-in-out;
    background-color: rgba(157, 152, 152, 0.9);
    margin-right: 4rem;
}

/* HEADER */
/* ======================================================== */
/* ======================================================== */
/* ======================================================== */

.hero-header {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)),
        url(../img/hero.jpg);
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}

.hero-header__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.hero-text-box {
    text-align: center;
}

.hero-text-box,
.hero-buttons {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.hero-buttons {
    grid-row: 3 / -1;
    text-align: center;
    margin-top: 5rem;
}

.hero-buttons a {
    margin-left: 2rem;
}

.btn-hero {
    background: transparent;
}

.btn-hero:hover {
    border: 1px solid var(--white);
}

.btn-hero-red {
    background-color: rgba(var(--red-darker), 0.9);
}

.btn-hero:hover {
    background: rgba(0, 0, 0, 0.6);
}

/* SECTION ABOUT */
/* ======================================================== */
/* ======================================================== */
/* ======================================================== */

.section-about {
    display: flex;
    background-color: rgba(0, 0, 0, 0.87);
    padding: 4rem 0;
}

.about-img img {
    height: 60rem;
    margin-left: 10rem;
}

.about-content {
    width: 70%;
    padding: 0 2rem;
    margin-left: 4rem;
}

.about-content h3 {
    font-weight: 400;
    font-size: 4.5rem;
}

.about-text {
    display: flex;
    flex-direction: column;
    width: 65%;
    margin: 0 auto;
}

.about-text p {
    padding: 2rem 0;
    font-size: 1.6rem;
    line-height: 2.2rem;
    word-spacing: 1px;
}

/* SECTION MENU */
/* ======================================================== */
/* ======================================================== */
/* ======================================================== */

.section-pizza {
    background-color: rgba(0, 0, 0, 0.7);
}

.pizza-container {
    display: flex;
    flex-direction: row-reverse;
}

.pizza-title .pizza-img {
    filter: brightness(0.75) grayscale(0.2) contrast(120%);
}

.pizza-content {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.pizza-menu {
    margin-top: 3rem;
}

.pizza-menu__item,
.drink-menu__item {
    padding: 3rem 0;
}

.pizza-menu__item h4,
.drink-menu__item h4 {
    font-size: 4rem;
    text-shadow: 0 10px 15px #222;
}

.pizza-menu__item span,
.drink-menu__item span {
    font-size: 1.4rem;
}

.pizza-btn,
.drink-btn {
    margin-top: 8rem;
    width: 30%;
    box-shadow: 0 5px 25px #111;
    transition: all 0.4s ease;
}

.pizza-btn:hover,
.drink-btn:hover {
    border: 1px solid var(--white);
    box-shadow: 0 5px 10px #111;
    background: rgba(0, 0, 0, 0.6);
}

/* SECTION DRINKS */
/* ======================================================== */
/* ======================================================== */
/* ======================================================== */

.section-drinks {
    background-color: rgba(0, 0, 0, 0.87);
    padding: 3rem 1rem;
}

.drink-container {
    display: flex;
}

.drink-title {
    display: flex;
    flex-direction: column-reverse;
    width: 50%;
    margin-top: 6rem;
}

.drink-title h4 {
    font-size: 6rem;
    width: 95%;
}

.drink-img {
    width: 95%;
}

.drink-content {
    width: 40%;
    padding-left: 3rem;
}

.drink-menu {
    margin-top: 3rem;
}

.drink-menu__item {
    padding: 2rem 0;
}

.drink-menu__item h4 {
    font-size: 3.5rem;
}

.drink-btn {
    margin-top: 5rem;
}

/* SECTION RESERVATIONS */
/* ======================================================== */
/* ======================================================== */
/* ======================================================== */

.section-reserv {
    /* padding: 4rem 0; */
    background: linear-gradient(
            to right,
            rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.5)
        ),
        url(../img/pizza.jpg);
    background-size: cover;
    background-position: center;
    /* height: 85vh; */
}

.reserv-container {
    padding: 2rem 0;
}

.reserv-heading {
    padding-bottom: 3rem;
    font-weight: 400;
}

.reserv-form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
    border: 2px solid var(--white);
    padding: 2rem;
    border-radius: 4px;
}

label {
    margin-right: 3rem;
    font-size: 1.7rem;
    margin-left: 5rem;
}

.input {
    display: inline-block;
    margin: 2.3rem 0;
    background: transparent;
    padding: 0.5rem 0;
    color: var(--white);
    border: 0;
    border-bottom: 1px solid white;
    width: 30%;
}

.input:focus-visible,
.input:focus-within,
.input:active {
    outline: none;
}

input[placeholder] {
    text-align: center;
}

.btn-form {
    background: transparent;
    border: 1px solid var(--white);
    border-radius: 4px;
    box-shadow: 0 5px 25px #111;
    color: var(--white);
    cursor: pointer;
    font-family: inherit;
    margin: 0 auto;
    margin-top: 2rem;
    padding: 0.6rem;
    text-transform: uppercase;
    transition: border 0.3s;
    width: 50%;
}

.btn-form:hover {
    border: 1px solid var(--white);
    box-shadow: 0 5px 10px #111;
    background: rgba(0, 0, 0, 0.6);
}

/* FOOTER */
/* ======================================================== */
/* ======================================================== */
/* ======================================================== */

.footer {
    background: rgba(0, 0, 0, 0.87);
    padding: 4rem 0;
}

.footer span {
    font-size: 1.4rem;
    padding-left: 2rem;
}

.footer-links {
    width: 20%;
}

.footer-links li {
    display: inline-block;
    font-size: 2.4rem;
    padding-left: 2rem;
    padding-top: 2rem;
}

.footer-links a {
    color: white;
}

.img-logo-big {
    width: 25%;
    display: block;
    float: right;
    margin-top: -7rem;
    margin-right: 5rem;
}
